In [49]:
#Hipótesis. Dado que el surf nació en la costa oeste de EEUU, se plantea que el mayor número de ataques de tiburones a surfistas se ha producido en la costa oeste de EEUU.

#Buscar:
#Filtrar el DataFrame para la actividad surf
#Filtrar el DataFrame para la costa oeste. Country == USA  & Areas: Alaska, Hawai, California, Oregon y Washington
#La suma del número de casos de 'Surfing' de la costa oeste debe ser mayor a la suma de casos de 'Surfing' en otros países u otras áreas de EEUU
#Puede ser interesante buscar la moda de Area por Country en Surfing
#Puede ampliarse para saber si verano es la época del año con mayor número de ataques, ya que agosto y septiembre son los mejores meses para surfear

In [50]:
#Limpieza de datos.

#Crear un DataFrame a partir del DataFrame original con las columnas más interesantes para analizar la hipótesis
#Columnas de interés: Case Number, Country, Area, Date, Year, Location, Activity, 'Injury', 'Fatal (Y/N)'

#Renombrar las columnas para que no tengan espacio en el nombre

#Revisar los datos duplicados en Case Number, si no están duplicados en todos los campos, asignar una letra al final. O eliminar los 32 registros.

#Eliminar en los países los '?'

#En Países, reescribir a primera en mayúscula y el resto en minúscula

#Agrupar por continente

#Revisar los años. Si los dos últimos dígitos de 'Year' no coincide con los dos últimos dígitos de 'Date', sobreescribir 'Date' con el año.

In [51]:
#Importar módulos

import pandas as pd
import numpy as np
import re

In [52]:
#Creación de la base de datos

df = pd.read_csv('input/GSAF5.csv', engine = 'python')
df.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988,NaN,NaN
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987,NaN,NaN
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986,NaN,NaN
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,...,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.06,2016.09.06,5985,NaN,NaN
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,...,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.b,2016.09.05.b,5984,NaN,NaN

In [53]:
#Conocer la base de datos

df.shape

(5992, 24)

In [54]:
#Conocer cuántos registros nulos hay en cada columna

df.isnull().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [55]:
#Conocer las columnas
df.columns

#Comprobamos que hay columnas que tienen espacio en el nombre. 
#Eliminar el espacio de aquellos con la función str.rstrip()
df.columns = df.columns.str.rstrip()
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [56]:
#Seleccionar las columnas necesarias para el estudio de la hipótesis: Case Number, Country, Area, Date, Year, Location, Activity, 'Injury', 'Fatal (Y/N)'

shark_df = df[['Case Number', 'Date', 'Year', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)']]
shark_df.head()

,Case Number,Date,Year,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
0,2016.09.18.c,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N
1,2016.09.18.b,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N
2,2016.09.18.a,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N
3,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N
4,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N

In [57]:
shark_df['Case Number']

0       2016.09.18.c
1       2016.09.18.b
2       2016.09.18.a
3         2016.09.17
4         2016.09.15
            ...
5987         ND.0005
5988         ND.0004
5989         ND.0003
5990         ND.0002
5991         ND.0001
Name: Case Number, Length: 5992, dtype: object

In [63]:
#Seleccionar la columna 'Case Number' como referente del índice

#Revisar si existen duplicados en la columna 'Case Number'

shark_df['Case Number'].duplicated().value_counts()

False    5976
True       16
Name: Case Number, dtype: int64

In [65]:
#Existen 16 'Case Number' duplicados. 
#Comprobar si son el mismo caso. Para ser el mismo caso se establece que debe ser misma 'Date', mismo 'Country', misma 'Area' y misma 'Activity'

shark_df[shark_df['Case Number'].duplicated(keep=False)][['Case Number', 'Date', 'Country', 'Area', 'Activity']]

#Crear una función para que revise si son dos 'Case Number' iguales compruebe los otros campos. Si los campos son iguales, elimina uno de los dos. si los campos son distintos, añade 'x' al final de 'Case Number'. Se añade 'x' porque en el caso de que haya un 'Case Number' similar con una letra, no sea la b o c. 


def checkCaseNumber(casenumber):
    duplicates = shark_df[shark_df['Case Number'].duplicated(keep=False)]['Case Number'].tolist()
    for casenumber in duplicates:

,Case Number,Date,Country,Area,Activity
300,2014.08.02,02-Aug-14,USA,Florida,Surfing
301,2014.08.02,02-Aug-14,USA,Florida,Boogie boarding
392,2013.10.05,06-Oct-13,USA,California,Surfing
393,2013.10.05,10-Oct-13,USA,Florida,Wading
523,2012.09.02.b,02-Sep-12,USA,Florida,Boogie boarding
524,2012.09.02.b,02-Sep-12,USA,Hawaii,Spearfishing
840,2009.12.18,18-Dec-09,SOUTH AFRICA,Eastern Cape Province,Paddling on kneeboard
841,2009.12.18,18-Dec-09,SOUTH AFRICA,KwaZulu-Natal,Surfing
1212,2006.09.02,02-Sep-06,USA,Florida,Swimming
1213,2006.09.02,02-Sep-06,SOUTH AFRICA,Western Cape Province,Surfing
1375,2005.04.06,06-Apr-05,USA,Florida,NaN
1376,2005.04.06,06-Apr-05,HONDURAS,Bay Islands,SCUBA Diving
2409,1990.05.10,10-May-90,AUSTRALIA,Queensland,Snorkeling
2410,1990.05.10,10-May-90,AUSTRALIA,Queensland,"Snorkeling, possibly holding a fish"
2712,1983.06.15,15-Jun-83,BAHAMAS,NaN,NaN
2713,1983.06.15,15-Jun-83,ITALY,Northwest Italy,Scuba diving
2837,1980.07.00,Late Jul-1980,USA,North Carolina,Surfing
2838,1980.07.00,Early Jul-1980,USA,Florida,Surfing
3317,1966.12.26,26-Dec-66,SINGAPORE,NaN,Wading
3318,1966.12.26,26-Dec-66,AUSTRALIA,New South Wales,Spearfishing
3588,1962.06.11.b,11-Jun-62,USA,California,Escaping from Alacatraz
3589,1962.06.11.b,11-Jun-62,USA,California,Escaping from Alacatraz
4982,1923.00.00.a,1923,USA,New Jersey,Hoisting shark aboard fishing boat
4983,1923.00.00.a,1923,USA,New Jersey,Hoisting shark aboard fishing boat
5028,1920.00.00.b,1920s,JAMAICA,Westmoreland Parish,Jumped overboard
5029,1920.00.00.b,1920,NEW ZEALAND,North Island,NaN
5090,1915.07.06.a.R,Reported 06-Jul-1915,MEXICO,Tamaulipas,Fishing
5091,1915.07.06.a.R,Reported 06-Jul-1915,MEXICO,NaN,Wading
5120,1913.08.27.R,Reported 27-Aug-1913,USA,New Jersey,NaN
5121,1913.08.27.R,Reported 27-Aug-1913,USA,New Jersey,NaN
5207,1907.10.16.R,Reported 16-Oct-1907,CHINA,Hong Kong,Fishing
5208,1907.10.16.R,Reported 16-Oct-1907,CHINA,Hong Kong,Fishing

In [78]:
duplicates = shark_df[shark_df['Case Number'].duplicated(keep=False)].equals(exactly_equal)

NameError: name 'exactly_equal' is not defined

In [46]:
shark_df[shark_df['Case Number'].duplicated(keep=False)][['Case Number', 'Date', 'Country', 'Area', 'Activity']].diff(axis=0)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [73]:
#Revisar los ataques que tengan una 'Activity' no registrada
shark_df['Activity'].isnull().value_counts() 

#527 ataques no indican cuál fue la 'Activity'

False    5465
True      527
Name: Activity, dtype: int64

In [86]:
#Para inducir si alguno de esos 527 ataques que no tienen 'Activity' declarada han podido ser a surfistas...
#Analizar 'Injury' a surfistas
#shark_df[(shark_df['Activity'] == 'Surfing')]['Injury'].value_counts()

#Foot bitten y board son los valores que más se repiten
#Comprobar si en otras 'Activity' foot y board también aparecen con mucha frecuencia

shark_df['Activity', 'Injury']

KeyError: ('Activity', 'Injury')

In [48]:
#Filtrar el DataFrame solo por la actividad 'Surfing'

shark_df = shark_df[shark_df.Activity == 'Surfing']
shark_df.head()

,Case Number,Date,Year,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
0,2016.09.18.c,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N
1,2016.09.18.b,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N
2,2016.09.18.a,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N
3,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N
4,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N

In [ ]:
#Conocer cuántos ataques a surfistas ha habido